<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tea.ilearn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/kg_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/kg_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.iLearn">
        <activity
            android:name=".activity.SearchExamActivity"
            android:exported="true" />
        <activity
            android:name=".activity.account.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.JumpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="share"
                    android:scheme="ilearn" />
                <data
                    android:host="api.ilearn.enjoycolin.top"
                    android:pathPrefix="/app"
                    android:scheme="http" />
                <data
                    android:host="api.ilearn.enjoycolin.top"
                    android:pathPrefix="/app"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.account.ForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".activity.account.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".activity.account.SigninActivity"
            android:exported="true" />
        <activity
            android:name=".activity.entity_detail.EntityDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.exercise_list.ExerciseListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>